# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.nar
*.ear

# Logs
*.log

# =========================
# IDE
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Node (frontend)
# =========================
node_modules/

# =========================
# Misc
# =========================
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*